<%- include("partials/header") -%>
    </header>
    <section class="donations">
      <div class="row">
        <div class="col space">
          <h2 class="space"><span class="first-word">Pay</span>Pal</h2>
          <form action="https://www.paypal.com/donate" method="post" target="_top" class="space center">
            <input type="hidden" name="hosted_button_id" value="C95U59AYZU2Y8" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
          </form>
          <img src="/images/HCOC_QR_Code.png" class="space">
          <p class="space center"><a href="https://www.paypal.com/donate/?hosted_button_id=C95U59AYZU2Y8" target="_blank">... a cheerful giver.</a></p>
        </div>
        <div class="col space">
          <h2><span class="first-word">Freewill </span>Offering</h2>
          <p class="space center">If you would like to leave your offering, or contribute a donation just use one of the following sources on this page.</p>
        </div>
        <div class="col space">
          <h2><span class="first-word">Text</span> To Give</h2>
          <p class="space center">Simply text the word "Give" with the amount (e.g. Give 100) to (760) 303 5377.</p>
          <p class="space center"><a href="https://faithlife.com/holtvillecoc/give" target="_blank">FaithLife Giving</a></p>
        </div>
      </div>
    </section>
    <section class="bottom space">
<%- include("partials/footer") -%>