<%- include("partials/header") -%>
  <div id="scriptureCarousel" class="carousel-slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="scripture-title">Matt. 28:19</div>
        <div class="scripture-text">
          <sup><strong>19</strong></sup> Go ye therefore, and teach all nations, baptizing them in the name of the Father, and of the Son,and of the Holy Ghost:
        </div>
      </div>
      <div class="carousel-item">
        <div class="scripture-title">John 3:16</div>
        <div class="scripture-text"><sup><strong>16</strong></sup>For God so loved the world, that he gave his only begotten Son,
          that whosoever believeth in him should not perish, but have everlasting life.
        </div>
      </div>
      <div class="carousel-item">
        <div class="scripture-title">Mark 16:15</div>
        <div class="scripture-text"><sup><strong>15</strong></sup> And he said unto them, Go ye into all the world, and preach the gospel to every creature.
        </div>
      </div>
      <div class="carousel-item">
        <div class="scripture-title">Eph. 4:4-6</div>
        <div class="scripture-text"><sup><strong>16</strong></sup> There is one body, and one Spirit, even as ye are called in one hope of your calling; One Lord, one faith, one baptism, One God and Father of all, who is above all, and through all, and in you all.
        </div>
      </div>
    </div>
  </div>
</header>
<section>
  <div class="grid-container">
    <div>        
      <div>
        <img src="/images/clock.png" class="img-fluid rounded-start" alt="..." width="75px" height="75px"/>
        <h2><span class="first-word">Service</span> Times</h2>
      </div>
      <div class="inner-grid">
        <div> Sunday School</div>
        <div class="times">10:00 am</div>
      </div>
      <div class="inner-grid">
        <div>Sunday Morning Service</div>
        <div class="times">11:00 am</div>
      </div>
      <div class="inner-grid">
        <div> Sunday Afternoon Service</div>
        <div class="times">2:00 pm</div>
      </div>
      <div class="inner-grid">
        <div>Tuesday Bible Class</div>
        <div class="times">6:00 pm</div>
      </div>
      <div class="inner-grid">
        <div>Wednesday Bible Class</div>
        <div class="times">6:00 pm</a>
      </div>
    </div>      
  </div>
    <div class="building">
    </div>
    <div class="space">
      <img src="/images/wave.png" class="img-fluid rounded-start" alt="..." width="75px" height="75px"/>
      <h2><span class="first-word">Sermon</span> of the Week</h2>
      <div class="space" style="text-align: center;">
        <h3>Do you Love Me</h3>
        <audio controls>
          <source src="/audio/do-you-love-me.mp3" type="audio/mp3">
          Your browser does not support the audio element
        </audio>
        <h6>Bro. Greg  Hamilton</h6>
      </div>
    </div>
    <div class="members">
    </div>
    <div>
      <img src="/images/pacman1.png" class="img-fluid rounded-start" alt="..." width="75px" height="75px"/>
      <h2><span class="first-word">Video</span> Game Tournament</h2>
      <div class="space">Got Skills. Come test them out against other players at the Holtville Church of Christ  <a href="/images/VideoGameTournament.jpg" target="_blank">Video Game Tournament</a> on August 27<sup>th</sup> 2022 </div>
    </div>
    <div class="minister">
    </div>
  </div>      
</section>

<section class="bottom space">
  <div class="row">
    <div class="msg col">
      <h3>Local Church Events</h3>
      <div class="inner-grid">
        <div>Video Game Tournament</div>
        <div>Aug. 27<sup>th</sup> @11:00 am</div>
      </div>
      <!-- <div class="inner-grid">
        <div>Revival Afternoon Service</div>
        <div>Mar. 6<sup>th</sup> @1:00 pm</div>
      </div>
      <div class="inner-grid">
        <div>Revival Service</div>
        <div>Mar. 7<sup>th</sup> @7:00 pm</div>
      </div>
      <div class="inner-grid">
        <div>Revival Service</div>
        <div>Mar. 8<sup>th</sup> @7:00 pm</div>
      </div>
      <div class="inner-grid">
        <div>Revival Service</div>
        <div>Mar. 9<sup>th</sup> @7:00 pm</div>
      </div> -->
    </div>
    <div class="contact col wrapper">
      <div class="company-info">
        <h3>Holtville Church of Christ</h3>
        <ul>
          <li><ion-icon name="home-outline"></ion-icon>440 W. 6<sup>th</sup> St.</li>
          <li><ion-icon name="call-outline"></ion-icon>(760) 756-3207</li>
          <li><ion-icon name="mail-outline"></ion-icon>contact@holtvillecoc.com</li>
        </ul>
      </div>
      <div>
        <h3>Contact Us</h3>
        <form method="post" action="/">
          <div class="row mb-3">
            <div class="col-sm-10">
              <input type="text" class="form-control form-control-lg" placeholder="Name" name="fullName" id="fullName">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-10">
              <input type="email" class="form-control form-control-lg" placeholder="Email" name="emailAddress" id="emailAddress">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-10">
              <textarea class="form-control form-control-lg" placeholder="Message" name="message" rows="5" id="message"></textarea>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-10">
              <input type="hidden" name="subject" value="Contact Submission" id="subject"/>
            </div>
          </div>
          <div class="d-grid col-sm-10">
            <button type="submit" class="btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
 <%- include("partials/footer") -%>