<%- include("partials/header") -%>
    </header>
    <section>
      <div class="ministries">
        <h2>Ministries</h2>
        <p>
          Welcome! We want to help you get involved in the Lord’s work at Heil
          Ave. Listed on this site are current ministries. To get involved,
          simply contact us. For new ministries, share your ideas with us (email
          or call 619-940-7195).
        </p>
        <p>
          Matthew 28:19-20 Go ye therefore, and teach all nations, baptizing
          them in the name of the Father, and of the Son, and of the Holy Ghost:
          Teaching them to observe all things whatsoever I have commanded you:
          and, lo, I am with you always, even unto the end of the world. Amen.
        </p>
        <p>
          Matthew 25:35-36 For I was an hungred, and ye gave me meat: I was
          thirsty, and ye gave me drink: I was a stranger, and ye took me in:
          Naked, and ye clothed me: I was sick, and ye visited me: I was in
          prison, and ye came unto me.
        </p>
      </div>
    </section>
    <section class="bottom space">
      <footer>
        <div class="copyright">
          &copy; Copyright 2022 Holtville Church of Christ
        </div>
        <div class="social">
          <a href="https://www.facebook.com/holtvillecoc" target="_blank"
            ><ion-icon name="logo-facebook"></ion-icon
          ></a>
          <a href="https://twitter.com/holtvillec" target="_blank"
            ><ion-icon name="logo-twitter"></ion-icon
          ></a>
          <a href="https://www.instagram.com/holtvillecoc/" target="_blank">
            <ion-icon name="logo-instagram"></ion-icon
          ></a>
        </div>
     <%- include("partials/footer") -%>