/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
MAIN COLOR: #7851a9
COLOR: #990000
GRAY COLOR: #343a40
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  }
  
body {
  font-family: "Roboto", sans-serif;
  color: #444;
  font-size: 1.5rem;
}

.container {
  margin: 0 auto;
}

header {
  height: 75vh;
  position: relative;
  background-image: linear-gradient(
      rgba(120, 81, 169, 0.75),
      rgba(171, 146, 203, 0.75)
    ),
    url(../images/bible.jpeg);
  background-size: cover;
  color: #fff;
}
.building {
  background-image: linear-gradient(
      rgba(120, 81, 169, 0.4),
      rgba(171, 146, 203, 0.4)
    ),
    url(../images/building1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.members {
  background-image: linear-gradient(
      rgba(120, 81, 169, 0.4),
      rgba(171, 146, 203, 0.4)
    ),
    url(../images/members_2021.png);
  background-size: cover;
}
.minister {
  background-image: linear-gradient(
      rgba(120, 81, 169, 0.4),
      rgba(171, 146, 203, 0.4)
    ),
    url(../images/Al_Cross.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
nav {
  /*font-size: 20px;*/
  font-size: 2.25rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.header-container {
  position: relative;

  /* In relation to PARENT size */
  /* left: 50%;
  top: 50%; */

  /* In relation to ELEMENT size */
  /* transform: translate(-61.5%, -50%); */
  transform: translateY(-65px);
}

.logo {
  position: relative;
  transform: translateY(-20px);
  width: 150px;
  height: auto;
}
h1 {
  font-size: 52px;
  margin-bottom: 32px;
  line-height: 1.05;
}
h3{
  font-size: 1.75rem;
}

h6{
  font-size: 1.25rem;
}
p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}

/* .btn:link,
.btn:visited {
  font-size: 20px;
  font-weight: 600;
  background-color: #e67e22;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
} */

div > h2 {
  /*font-size: 42px;*/
  font-size: 4rem;
  margin-bottom: 48px;
  font-family: "Roboto Slab";
  display: inline;
  vertical-align: middle;
}

section {
  background-color: #fff;
}

footer {
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
}

.scripture-title {
  margin-top: 5%;
  padding: 8px 20px 5px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Roboto Slab";
  font-weight: 700;
  /*font-size: 2.5rem;*/
  font-size: 3.5rem;
  display: inline-block;
}

.scripture-text {
  max-width: 40%;
  padding-left: 20px;
  padding-top: 10px;
  font-family: "Roboto";
  font-weight: 400;
  /*font-size: 1.2rem;*/
   font-size: 2rem;

}

.bottom {
  background-image: linear-gradient(
    /* rgba(120, 81, 169, 0.75), */ rgba(171, 146, 203, 0.75),
    rgba(171, 146, 203, 0.75)
  );

  background-size: cover;
  color: #fff;
  position: relative;
  /* z-index: -1; */
}
.card-title {
  font-size: 2.2rem;
  font-family: "Roboto Slab serif";
  font-weight: 700;
}

.first-word {
  color: #7851a9;
}

.btn {
  background-color: #7851a9;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.column {
  padding: 0;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  /* grid-template-rows: 1fr 1fr; */
}

.inner-grid {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  /*font-size: 1.5rem;*/
}

.space {
  padding: 10px;
}
.msg {
  text-align: center;
}

a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
  color: #7851a9;
}

/* .social {
  width: 500px;
  justify-content: space-between;
}*/
.social > a {
  color: #fff;
}
footer {
  display: flex;
  justify-content: space-between;
}
.copyright {
  font-size: 1rem;
}

.directions {
  text-align: center;
  display: flex;
  flex-direction: column;
}
article {
  margin: 20px;
  padding-bottom: 40px;
}

article > h2 {
  margin-bottom: 3%;
}
.nav-item {
  justify-content: center;
  align-items: center;
}

.ministries {
  display: flex;
  flex-direction: column;
}
.ministries > p {
  padding: 0 20px;
}

.prayer-request{
  color: #fff;
  background-image: linear-gradient(
     /*rgba(120, 81, 169, 0.75),  rgba(120, 81, 169, 0.75)*/
    rgba(171, 146, 203, 0.75),
    rgba(171, 146, 203, 0.75)
  );
}
/*.prayer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}*/

.hidden1 {
  visibility: hidden;
}
.hidden2 {
  display: none;
}
/* Calendar Styles */
.calendar-container {
  width: 100%;
  height: 75vh;
  background-color: #fff;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar {
  width: 45rem;
  height: 52rem;
  background-color: #ab92cb;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0, 0.4);
}

.month {
  width: 100%;
  height: 12rem;
  background-color: #7851a9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0, 0.5);
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}
.month p {
  font-size: 1.6rem;
}
.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}
.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(44.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: cennter;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0, 0.5);
}
.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}
.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3 0.5 rgba(0, 0, 0, 0, 0.5);
  transition: background-color 0.2s;
}
.days div:hover:not(.today) {
  background-color: #7851a9;
  border: 0.2rem solid #777;
  cursor: pointer;
}
.prev-date,
.next-date {
  opacity: 0.5;
}
.today {
  background-color: #7851a9;
}

/* Contact Form */
.contact{
  /*background:#f9feff;*/
  background-image: linear-gradient(
     /*rgba(120, 81, 169, 0.75),  rgba(120, 81, 169, 0.75)*/
    rgba(171, 146, 203, 0.75),
    rgba(171, 146, 203, 0.75)
  );

}

.contact form{
  display: grid;
  grid-template-columns: 1fr;
  /*grid-gap:20px;*/
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
  display: grid;
    grid-template-columns: 1fr 2fr;
}

.company-info h3, .company-info ul, .brand{
    text-align: left;
  }

.company-info ul{
  list-style: none;
  padding:0;
}
ion-icon{
  
  padding-right:15px;
}
.center {
  /*display: block;*/
  margin: auto;
  margin-right: 10px;
/*align-items: center;
justify-content: center;*/
  /*width: 50%*/;
}
